@import url("lightblock.css");
@import url("syntaxhighlight.css");
@import url("main.css");

:root {
    --bgImage: url("bg.jpg"); /* Change this to whatever image you'd like as a background */
	--colorFg: #fff;
    --popoutColor: rgba(0,0,0,0.4);
    --mainColor: rgba(74,172,240, 0.8);
    --mainColorTrans: rgba(74,172,240, 0.4);
    --mainColorInvis: rgba(74,172,240, 0);
    --colorMention: rgba(74,172,240, 0.7);
    --colorMentionBg: rgba(74,172,240, 0.05);
    --onlineColor: rgba(74,172,240, 0.8);
    --linkColor: rgba(74,172,240, 0.8);
	--transitTime: 0.5s;
	--transitTime2: 0.2s;
	--transitTime3: 0.35s;
}
/* Uncomment this for pink: */
/*
:root {
    --mainColor: rgba(255, 78, 240, 0.8);
    --mainColorTrans: rgba(255, 78, 240, 0.4);
    --mainColorInvis: rgba(255, 78, 240, 0);
    --colorMention: rgba(255, 78, 240, 0.7);
    --colorMentionBg: rgba(255, 78, 240, 0.05);
}*/


    /*--colorMention: rgba(33,55,83,0.5);*/

/* setTimeout(() => { debugger; }, 3000); */
@font-face {
    font-family: unisansheavy;
    src: url(unisansheavy.woff);
}
@font-face {
    font-family:Whitney;
    font-weight:300;
    src:url(whitney300.woff)
}
@font-face {
    font-family:Whitney;
    font-weight:400;
    src:url(whitney400.woff)
}
@font-face {
    font-family:Whitney;
    font-weight:500;
    src:url(whitney500.woff)
}
@font-face {
    font-family:Whitney;
    font-weight:600;
    src:url(whitney600.woff)
}
@font-face {
    font-family:Whitney;
    font-weight:700;
    src:url(whitney700.woff)
}

/*
.flexChild-faoVW3:nth-of-type(2) div:nth-of-type(2) div {
    display:none;
}*/


/*
some day.
.image-33JSyf[style*="155651120344203265"]:hover {
    display:none;
}

div:has(> .image-33JSyf[style*="155651120344203265"]) {
    display:none;
    background-color:blue;
    color:blue;
}
.image-33JSyf[style*="155651120344203265"]+.comment .timestamp::before {
    content: 'Theme Creator';
}
*/

/*.wordmark-2iDDfm svg {
    display:none
}*/
.wordmark-2iDDfm::after {
    font-family:unisansheavy,Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    content: '\00a0 \00a0 - Ally 🍦#1540';
    color:white;
    font-weight:200;
    font-size:13px;
    letter-spacing:1px;
    position: fixed;
    top: 6px;
    text-align: center;
}